/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <joewashear007@gmail.com> wrote this file. As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return Joseph Livecchi
 * ----------------------------------------------------------------------------
 */

*{font-family: Verdana, Verdana, Geneva, sans-serif; }

html,body,#wrapper {
    height:100%;
    padding:0;
    margin:0;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
#wrapper {
    position:relative;
}
/*------------- Top Banner ------------------*/
#top {
    position:fixed;
    height:50px;
    width:100%;
    background: #914f00;
    background: linear-gradient(to bottom, #914f00 0%,#bc5100 30%,#bc5100 70%,#914f00 100%);
    color: white;
    box-shadow: 0px 0px 5px black;
    z-index:20;
}
#top h1{
    margin-left: 10px;
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0 rgba(150,150,150,0.3);
    z-index: 0;
    display:inline-block;
}
/*------------- Middle Content ------------------*/
#middle {
    z-index: 0;
    position:absolute;
    top:50px;
    bottom:50px;
    width: 100%;
}
#middle > div {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container > p{
    color: #333;
    padding: 20px 20px 0px 20px;
    font-weight:bold;
    text-shadow: 0.1rem 0.1rem 0 rgba(150,150,150,0.3);
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
}
.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.col {
    display: inline;
    margin-bottom: 20px;
    padding: 10px;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%
}
.col-3{
    width: 30%;
}
.right{
    float: right;
}
/*------------- Bottom Banner ------------------*/
#bottom {
    position:fixed;
    bottom:0;
    height:50px;
    width:100%;
    box-shadow: 0px 0px 5px #333;
}

#bottom > button {
    background: linear-gradient(to bottom, #cdd7de, #064773);
    color: white;
    vertical-align: middle;
    float:left;
    width: 20%;
    height: 50px;
    border: none;
    border-left: 0.1rem solid #333;
    font-size: 2.0rem
}
#bottom > button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
#bottom > button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

/*------------- Button Control ------------------*/
#ButtonControl{

}

#ButtonControl button{
    color: white;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 rgba(150,150,150,0.3);
    font-size: 2.0rem;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 5px rgba(0,0,0, 1);
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0.65) 100%);
}

/*------------- Swipe Control ------------------*/
#SwipeControl{
	display:none;
}
#SwipeBox{
    height: 100%;
    border: 0.3rem solid green;
}
/* --------------------- Pop Messgaes -----------------*/
#PopWrap{
    display: none;
    margin: 75px auto;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 10%;
    right: 10%;
    width : 80%;
    background-color: white;
    z-index: 50;
    border: 0.2rem solid #333;
    box-shadow: 0px 0px 15px rgb(00,0,0);
}
#PopWrap > div{
    margin: 0px 10px;
    overflow: scroll;
}
#PopWrapHead{
    width: 100%;
    height: 50px;
    background-color: white;
    display: inline-block;
    border-bottom: 0.2rem solid #333;
}
#PopWrapHead > h3{
    float: left;
    display: inline;
    padding-left: 10px;
}
#PopWrapCloseBtn{
    float:right;
    height: 50px;
    width: 50px;
}